.wrapper {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.status {
    width: 2em;
    height: 2em;
}

.status-green {
    background-color: rgba(0, 173, 35, 1);
    -webkit-box-shadow: 0px 0px 20px 7px rgba(0, 173, 35, 1);
    -moz-box-shadow: 0px 0px 20px 7px rgba(0, 173, 35, 1);
    box-shadow: 0px 0px 20px 7px rgba(0, 173, 35, 1);
}

.status-red {
    background-color: rgb(255, 63, 0);
    -webkit-box-shadow: 0px 0px 20px 7px rgb(255, 63, 0);
    -moz-box-shadow: 0px 0px 20px 7px rgb(255, 63, 0);
    box-shadow: 0px 0px 20px 7px rgb(255, 63, 0);
}

textarea {
    background-color: #282a36;
    color: #f8f8f2;
    height: 20em;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
}