<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caiot</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
</head>
<body>
<section class="wrapper container">
    <div class="row">
        <div class="column">
            <h1>Sensor Relay Test</h1>
        </div>
    </div>
    <div class="row" style="padding: 2em 0;">
        <div class="column column-10">
            <div id="status" class="status status-green"></div>
        </div>
        <div class="column"><label id="temp">Temperature</label></div>
    </div>
    <div class="row">
        <div class="column">
            <textarea id="logger"></textarea>
        </div>
    </div>
</section>
<script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "sensor.js" %}'></script>
</body>
</html>